<!-- Header -->
<div class="card bg-primary p-3 rounded-0">
  <div class="d-flex align-items-center justify-content-between">
    <h4 class="text-white mt-2">{{ 'Transportation_document' | translate }}</h4>
    <a class="back-button d-flex align-items-center" (click)="goBack()">
      <span class="back">
        <i *ngIf="isArabic(); else leftIcon" class="icon">
          <!-- Right Arrow SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="24" height="24">
            <path
              d="M301.3 256l-22.6 22.6-160 160L96 461.3 50.7 416l22.6-22.6L210.7 256 73.4 118.6 50.7 96 96 50.7l22.6 22.6 160 160L301.3 256z" />
          </svg>
        </i>
        <ng-template #leftIcon>
          <!-- Left Arrow SVG -->
          <i class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="24" height="24">
              <path
                d="M18.7 256l22.6 22.6 160 160L224 461.3 269.3 416l-22.6-22.6L109.3 256 246.6 118.6 269.3 96 224 50.7 201.4 73.4l-160 160L18.7 256z" />
            </svg>
          </i>
        </ng-template>
      </span>
    </a>
  </div>
</div>
<!-- Data -->
<div class="container">
  <div class="inner-layout">
    <div class="">
      <div class="row">
        <div class="container">
          <div class=" mt-4 mx-3">
            <h4 class="text-primary">{{ 'docuemnts-details' | translate }}</h4>
            <div class="card shadow-sm border-white mb-4 p-0">
              <div class="card-body">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'documents_NO' | translate }}</label>
                    <h5 class="text-dark">225336</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'issue_date' | translate }}</label>
                    <h5 class="text-dark">2022-01-01، 3:43م</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'receive_date' | translate }}</label>
                    <h5 class="text-dark">2022-01-01</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'delivery_date' | translate }}</label>
                    <h5 class="text-dark">2022-01-01</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'document_status' | translate }}</label>
                    <h5 class="text-dark">{{ 'active' | translate }}</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'document_notes' | translate }}</label>
                    <h5 class="text-dark">{{ 'no_notes' | translate }}</h5>
                  </div>
                
                </div>
              </div>
            </div>
            <h5 class="text-primary mb-4">{{ 'Vehicle_details' | translate }}</h5>
            <div class="card shadow-sm border-white mb-4 p-0">
              <div class="card-body">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'serial_number' | translate }}</label>
                    <h5 class="text-dark d-block">210980010</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'plate_number' | translate }}</label>
                    <h5 class="text-dark d-block">د د د 1212</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'plate_type' | translate }}</label>
                    <h5 class="text-dark d-block">{{ 'public_transport' | translate }}</h5>
                  </div>
                
                </div>
              </div>
            </div>
            <h5 class="text-primary mb-4">{{ 'Drivers_data' | translate }}</h5>
            <div class="card shadow-sm border-white mb-4 p-0">
              <div class="card-body">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'driver_id' | translate }}</label>
                    <h5 class="text-dark d-block">2507211742</h5>
                  </div>

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'driver_name' | translate }}</label>
                    <h5 class="text-dark d-block">عصمان عثمان سالم الكرومة</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'driver_mobile' | translate }}</label>
                    <h5 class="text-dark d-block">+966578930662</h5>
                  </div>
              
                </div>
              </div>
            </div>
            <h5 class="text-primary mb-4">{{ 'Carrier_details' | translate }}</h5>
            <div class="card shadow-sm border-white mb-4 p-0">
              <div class="card-body">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'carrier_name' | translate }}</label>
                    <h5 class="text-dark d-block">شركة بلاد للشحن الإلكتروني</h5>
                  </div>

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'carrier_id' | translate }}</label>
                    <h5 class="text-dark d-block">1000090033</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'carrier_mobile' | translate }}</label>
                    <h5 class="text-dark d-block">+966556672621</h5>
                  </div>
              
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'carrier_email' | translate }}</label>
                    <h5 class="text-dark d-block">timarhanafy.org</h5>
                  </div>
                
                </div>
              </div>
            </div>
            <h5 class="text-primary mb-4">{{ 'Shipping_Broker_Details' | translate }}</h5>
            <div class="card shadow-sm border-white mb-4 p-0">
              <div class="card-body">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">

                  <div class="col">
                    <label class="text-muted mb-2">{{ 'broker_name' | translate }}</label>
                    <h5 class="text-dark d-block">شركة الجميع لتأجير السيارات</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'license_number' | translate }}</label>
                    <h5 class="text-dark d-block">11/00000004</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'broker_id' | translate }}</label>
                    <h5 class="text-dark d-block">1000090033</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'broker_email' | translate }}</label>
                    <h5 class="text-dark d-block">timarhanafy.org</h5>
                  </div>
                
                  <div class="col">
                    <label class="text-muted mb-2">{{ 'broker_mobile' | translate }}</label>
                    <h5 class="text-dark d-block">+966556672621</h5>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Dynamic component based on card type signal -->
  <div class="dynamic-component-container">
    <!-- Using the signal value to conditionally render the appropriate component -->
    <app-view-load-data *ngIf="cardType() === 'normal'"></app-view-load-data>
    <app-view-load-data-exceptional *ngIf="cardType() === 'exceptional'"></app-view-load-data-exceptional>
  </div>